{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<a href="{{ add_block }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-success"><i class="fa fa-plus"></i></a>
				<span type="button" class="btn-divider">&nbsp;</span>
				<button type="submit" form="form-module" formaction="{{ clone }}" data-bs-toggle="tooltip" title="{{ button_clone }}" class="btn btn-secondary form-action"><i class="fa fa-copy"></i></button>
				<button type="submit" form="form-module" formaction="{{ multiple_edit }}" data-bs-toggle="tooltip" title="{{ text_multiple }}" class="btn btn-primary form-action"><i class="fa fa-pencil"></i></button>
				<button type="submit" form="form-module" formaction="{{ delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger form-action" disabled id="button-delete"><i class="fa fa-trash"></i></button>
				<span type="button" class="btn-divider">&nbsp;</span>
				<div class="btn-group" data-bs-toggle="tooltip" title="{{ button_modules }}">
					<a href="{{ modules_link }}" class="btn btn-success">{{ button_modules }}</a>
					<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="visually-hidden">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{{ add_module }}">{{ button_add }}</a></li>
						{% if (modules is not empty) %}
						<li><hr class="dropdown-divider"></li>
						<li><h6 class="dropdown-header">{{ button_modules }}</h6></li>
						{% for module in modules %}
						<li><a class="dropdown-item" href="{{ module.edit }}">{{ module.name }}</a></li>
						{% endfor %}
						{% endif %}
					</ul>
				</div>
				<div class="btn-group" data-bs-toggle="tooltip" title="{{ text_list }}">
					<a href="{{ list }}" class="btn btn-success">{{ text_list }}</a>
					<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="visually-hidden">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="{{ add_block }}">{{ button_add }}</a></li>
						{% if (htmls_top is not empty) %}
						<li><hr class="dropdown-divider"></li>
						<li><h6 class="dropdown-header">{{ text_list }}</h6></li>
						{% for html in htmls_top %}
						<li><a class="dropdown-item" href="{{ html.edit }}">{{ html.name }}</a></li>
						{% endfor %}
						{% endif %}
					</ul>
				</div>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success"><i class="fas fa-check-circle"></i> {{ success }}
			<button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endif %}
		<style>
		html {
			overflow-y: scroll;
		}
		.input-code {
			min-height: 250px;
		}
		.btn-divider {
			display: inline-block;
			width: 1px;
			padding: 7px 0px;
			margin: 0px 5px;
			background: #cdcdcd;
			border: none;
		}
		.form-group .ui-switcher {
			margin-top: 9px;
		}
		#content .dropdown-toggle::after {
			display: inline-block;
			vertical-align: 0.155em;
			content: "";
			border-top: 0.355em solid;
			border-right: 0.355em solid transparent;
			border-bottom: 0;
			border-left: 0.355em solid transparent;
		}
		</style>
		<div class="card">
			<div class="card-header"><i class="fas fa-list"></i> {{ text_list }}<span class="float-end">v{{ version }}</span></div>
			<div class="card-body">
				<div class="menu-manager-container">
					<form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<td style="width: 1px;" class="text-center"><input type="checkbox" class="form-check-input" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
										<td class="text-left">{% if sort == 'name' %}<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>{% else %}<a href="{{ sort_name }}">{{ column_name }}</a>{% endif %}</td>
										<td class="text-left">{% if sort == 'sort_order' %}<a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>{% else %}<a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>{% endif %}</td>
										<td class="text-left">{% if sort == 'date_added' %}<a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>{% else %}<a href="{{ sort_date_added }}">{{ column_date_added }}</a>{% endif %}</td>
										<td class="text-left">{% if sort == 'date_edited' %}<a href="{{ sort_date_edited }}" class="{{ order|lower }}">{{ column_date_edited }}</a>{% else %}<a href="{{ sort_date_edited }}">{{ column_date_edited }}</a>{% endif %}</td>
										<td class="text-left" width="1">{{ column_status }}</td>
										<td class="text-right" width="1">{{ column_action }}</td>
									</tr>
								</thead>
								<tbody>
									{% if htmls %}
									{% for html in htmls %}
									<tr>
										<td class="text-center">{% if html.html_id in selected %}
											<input type="checkbox" class="form-check-input" name="selected[]" value="{{ html.html_id }}" checked="checked" />
											{% else %}
											<input type="checkbox" class="form-check-input" name="selected[]" value="{{ html.html_id }}" />
											{% endif %}</td>
										<td class="text-left">{{ html.name }}</td>
										<td class="text-left">{{ html.sort_order }}</td>
										<td class="text-left">{{ html.date_added }}</td>
										<td class="text-left">{{ html.date_edited }}</td>
										<td class="text-left">
											<input type="checkbox" class="switcher ui-switcher" value="{{ html.html_id }}" {{ (html.status == 1) ? 'checked' : '' }}>
										</td>
										<td class="text-right">
											<a href="{{ html.edit }}" data-bs-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
										</td>
									</tr>
									{% endfor %}
									{% else %}
									<tr>
										<td class="text-center" colspan="5">{{ text_no_results }}</td>
									</tr>
									{% endif %}
								</tbody>
							</table>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="col-sm-6 text-left">{{ pagination }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {

	$('table > tbody > tr > td:nth-child(2)').on('click', function() {
		let $checkbox = $(this).parent('tr').find('input[type=checkbox]');
		$checkbox.prop('checked', !$checkbox.prop('checked'));
	});

	$('.form-action').on('click', function(e) {
		$('#form-module').attr('action', $(this).attr('formaction')).submit();
	});

	$('.switcher').on('change', function(e) {
		let html_id = $(e.target).val();
		let value = $(e.target).prop('checked');
		$.ajax({
			type: "POST",
			url: "{{ change_status }}",
			data: {
				html_id: html_id,
				value: Number(value)
			},
			dataType: "json",
			success: function (response) {
				console.log(response);
			}
		});
	});

	$('#form-module input[type="checkbox"]').click(function(event) {
		var checked = $('input[type="checkbox"][name^="selected"]:checked').length;
		if (checked >= 1) {
			$('#button-delete').attr('disabled', false);
		}else{
			$('#button-delete').attr('disabled', true);
		}
	});

	$.switcher('input[type=checkbox].switcher');

	$('[data-bs-toggle-second=tooltip]').tooltip();

	$('[data-countdown]').each(function(index, value) {
		let tid = setInterval(() => {
			let current = parseInt($(value).find('.countdown').text().match(/(\d+)/));
			$(value).find('.countdown').text('[' + (current - 1) + ']');
			if (current == 1) {
				clearInterval(tid);
				$(value).remove();
			}
		}, 1000);
	});

});
</script>
{{ footer }}